<div class="pixfort_ecourse_8" id="section_ecourse_2">
    <div class="page_style pix_builder_bg" data-selector=".pix_builder_bg" style="outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="nine columns  alpha">
                    <div class="left_zone">
                        <div class="video_style">
                            <iframe src="https://www.youtube.com/embed/p5aMjwFeF1s" width="450" height="250" frameborder="0" style="" allowfullscreen></iframe>
                        </div>
                        <h3 class="title_st editContent" data-selector="h3" style="">What is HALALFOODHUNT.COM?</h3>
                    </div>
                </div>
                <div class="seven columns  omega">
                    <div class="text_input">
                        <div class="headtext_style"><span class="editContent" data-selector="Footers" style=""><span class="pix_text" data-selector=".pix_text, .pix_edit" style="" rel="">Create a merchant account</span></span></div>
                        <div class="segment pix_builder_bg" data-selector=".pix_builder_bg" style="background-image: none; background-color: rgb(231, 76, 60); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat;" src="images/3_app/windows.png"> </div>
                        <small class="editContent" data-selector="p" style="color:white;">Please fill in your information to create an account with us.</small>
                        <div class="contact_st">
                            <%= form_for(@merchant, as: @merchant, url: merchant_registration_path(@merchant), :html => {
                            :id => 'contact_form', :class => 'pix_form' }) do |f| %>
                              <%= f.text_field :name, autofocus: true, placeholder: "Your Name", :class => 'pix_text' %><br>
                              <%= f.email_field :email, placeholder: "Your Email", :class => 'pix_text' %><br>
                              <%= f.password_field :password, autocomplete: "off", placeholder: "Must be at least 6 characters long", :class => 'pix_text' %><br>
                              <%= f.phone_field :mobile_number, placeholder: "Your Mobile Number", :class => 'pix_text' %>
                          <div class="actions"><br>
                              <%= f.submit "Next", :class => 'submit_btn orange_bg pix_text', :style => "background:#e73c25; color:#fff; border:0; margin-bottom: 0;" %>
                          </div>
                          <% end %>
                      </div>
                      <p class="note_st editContent" data-selector="p" style="color:white;">*By creating an account, you agree to our terms.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="pix_builder_bg padding_bottom_60" id="section_pixfort_medical_3" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;" data-selector=".pix_builder_bg">
    <div class="container normal_padding" style="padding:20px 0 20px 0">
        <div class="three columns alpha">
            <div class="big_circle ">
                <i class="big_circle_content pi pixicon-book-open" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-4" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Display the best of your menu on your listing page</strong></h4>
                
            </div>
        </div>
        <div class="three columns">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-profile-male" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-5" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns omega">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Partner with us for our marketing activities</strong></h4>
                
            </div>
        </div>
    </div>

    <div class="container normal_padding" style="padding:20px 0 20px 0">
        <div class="three columns alpha">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-map2" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-42" src="images/7_shop_products/icon-1.png" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Be found when someone searches for you</strong></h4>
                
            </div>
        </div>
        <div class="three columns">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-browser" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-6" src="images/7_shop_products/icon-1.png" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns omega">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><strong>Chooosie.com<br>
                    Your one stop online media solution</strong></h4>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="pixfort_content_1 intro_1 pix_contents dark pix_builder_bg" id="section_intro_title_dark" style="background-image: none; background-color: rgb(243, 243, 243); padding-top: 40px; padding-bottom: 40px; box-shadow: none; border-color: rgb(255, 255, 255); background-size: auto; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;">
      <div class="container ">       
       <div class="sixteen columns">
          <div class="intro_div">
             <h2 class="editContent" style="color: rgb(225, 55, 55); font-size: 35px; background-color: rgba(0, 0, 0, 0);"><strong>How It Works</strong></h2>
             
         </div>
     </div>
 </div>
</div>
<div class="pixfort_shop_7" id="section_shop_4">

  <div class="new_story pix_builder_bg" style="outline-offset: -3px;">
     <div class="container">
        <div class="sixteen columns">
           <div class="eight columns alpha">
              <div class="zone_left">
                 <div class="icon-2_st"> <img src="/images/media/numbers-01.png" class="icon_st" alt=""></div>
                 <div class="text_st">
                    <p class="title_st editContent">Create a FREE Account</p>
                    <p class="subject_st editContent">Get started by creating a FREE merchant account</p>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="zone_left">
             <div class="icon-2_st"> <img src="/images/media/numbers-02.png" class="icon_st" alt=""></div>
             <div class="text_st">
                <p class="title_st editContent">Choose a Plan</p>
                <p class="subject_st editContent">Choose a plan that fits the number of listings you want to add</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="zone_left">
         <div class="icon-2_st"> <img src="/images/media/numbers-03.png" class="icon_st" alt=""></div>
         <div class="text_st">
            <p class="title_st editContent">Add your listings</p>
            <p class="subject_st editContent">Choose a category that fits your listings and add your details</p>
        </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="zone_left">
     <div class="icon-2_st"> <img src="/images/media/numbers-04.png" class="icon_st" alt=""></div>
     <div class="text_st">
        <p class="title_st editContent">Offer to reward our FRIENDS</p>
        <p class="subject_st editContent">The more attractive the reward that you offer, the more likely it will appeal to our FRIENDS!</p>
    </div>
</div>
</div>

<div class="eight columns omega">
  <div class="pict_st">
     <img src="/images/media/ezgif.com-crop.gif" alt="">
 </div>
</div>
</div>
</div>
</div>
<div class="pixfort_normal_1 creative_features" id="section_normal_3">  
    <div class="adv_st pix_builder_bg" style="outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="one-third column onethird_style  alpha">
                    <span class="slow_fade creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-food" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">20k/Month</span></span></span><br>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Visits by foodies</span></span></span>
                    </div>
                </div>
                <div class="one-third column onethird_style alpha">
                    <span class="slow_fade 2 creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-instagram" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">22.3k <br>
                        </span></span></span>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Instagram followers</span></span></span>
                    </div>
                </div>
                <div class="one-third column onethird_style alpha">
                    <span class="slow_fade 2 creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-statistics" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">360k/Month</span></span></span><br>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Reach monthly on FB &amp; Instagram</span></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pixfort_corporate_2" id="section_corporate_6">
    <div class="amazing_style pix_builder_bg" style="background-image: none; background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 60px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: cover; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="gstyle">
                    <div class="t1_style">
                        <span class="editContent" style=""><span class="pix_text" rel="">Select the plan that suits you.</span></span>
                    </div>
                    <div class="t2_style">
                        <span class="editContent" style=""><span class="pix_text" rel="">Upgrade, downgrade or cancel anytime.</span></span>
                    </div>
                    <div class="t3_style">
                        <span class="editContent" style=""></span>
                    </div>
                </div>
                <div class="four columns onethird_style">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg">
                            <p class="a1_style editContent">Basic</p>
                            <p class="a2_style editContent">FREE</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">Unverified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent" style=""> <a href="/koudoku/subscriptions/new?plan=14" class="slow_fade pix_text">Subscribe</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style ">
                    <div class="th2_style pix_builder_bg" style="background-image: none; background-color: rgb(224, 102, 102); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102) rgb(48, 126, 220); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                        <div class="b_bloc1_style pix_builder_bg" style="background-image: none; background-color: rgb(225, 55, 55); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <p class="b1_style editContent" style="color: rgb(255, 255, 255); font-size: 36px; background-color: rgba(0, 0, 0, 0);">Basic Plus</p>
                            <p class="b2_style editContent" style="color: rgb(255, 255, 255); font-size: 18px; background-color: rgba(0, 0, 0, 0);">$150/Year</p>
                        </div>

                        <br>
                        <span class="editContent" style="color:white;">
                            <p class="b3_style">1 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>

                        <div class="b_bloc3_style" pix_builder_bg="" style="background-image: none; background-color: rgb(225, 55, 55); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <div class="subscribe_st">

                                <span class="subscribe_b editContent" style=""> <a href="/koudoku/subscriptions/new?plan=15" class="slow_fade pix_text" style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(224, 102, 102);">Subscribe</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style  omega">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg" style="background-image: none; background-color: rgb(227, 227, 227); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68) rgb(68, 68, 68) rgb(204, 204, 204); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <p class="a1_style editContent">Pair</p>
                            <p class="a2_style editContent">$180/Year</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">2 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent">
                                    <a href="/koudoku/subscriptions/new?plan=16" class="slow_fade pix_text">Subscribe</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style   omega">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg">
                            <p class="a1_style editContent">Bundle</p>
                            <p class="a2_style editContent">$280/Year</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">3 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent">
                                    <a href="/koudoku/subscriptions/new?plan=17" class="slow_fade pix_text">Subscribe</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pixfort_gym_13" id="section_gym_3">
<div class="logos_sect pix_builder_bg" style="outline-offset: -3px;">
  <div class="container">
    <div class="sixteen columns">
      <div class="text_logos"><span class="editContent"><span class="pix_text">As featured on:</span></span></div>
      <center>
        <br>
        <a href="https://suaramagazine.files.wordpress.com/2016/09/suara-sep-oct161.pdf"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/suara-logo.png" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="http://www.sassysingapore.com/5-halalfoodhunted-spots-to-break-fast-at-this-ramadan/"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/Screen-Shot-2016-11-09-at-2.02.18-PM.png" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="http://themiddleground.sg/2016/09/04/online-food-and-travel-sites-fill-niche-in-halal-food-biz/"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/logo.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="http://berita.mediacorp.sg/mobilem/singapore/haron-satay-dinobat-satay-masters/3229054.html"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/imgres.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="https://drive.google.com/file/d/0B4JZy9TCnGZFU0V6alN0cGpEdGs/view"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/Gaya-Magazine-logo.png" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmanjamagazine%2Fposts%2F1178084435574270%3A0&width=500"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/13332760_1078270675555647_1643690128616525447_n.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="https://vulcanpost.com/308221/last-minute-guide-hari-raya/"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/13112-logo1.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="#"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/bh-langgan-1.png" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="#"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/logo-tnp_0.png" class="img-responsive color_flip" alt="Responsive image"></a>
      </div></center>
    </div>
  </div>
</div>
</div><div class="pixfort_gym_13" id="section_gym_3">
<div class="logos_sect pix_builder_bg" style="outline-offset: -3px;">
  <div class="container">
    <div class="sixteen columns">
      <div class="text_logos"><span class="editContent"><span class="pix_text">We have worked with:</span></span></div>
      <div class="padd_updown">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/chope-logo.png" class="img-responsive color_flip" alt="Responsive image">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/cropped-THFB_Logo-fa-05-1-1.png" class="img-responsive color_flip" alt="Responsive image">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/THEater.png" class="img-responsive color_flip" alt="Responsive image">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/safinah_halal_advisory_logo_720.png" class="img-responsive color_flip" alt="Responsive image">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/AisarAqid_logoCol.png" class="img-responsive color_flip" alt="Responsive image">
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/SATIRE-LOGO-WIP-TRANSPARENT-WHITE-copy150.png" class="img-responsive color_flip" alt="Responsive image">
        <a href="https://www.hometeamns.sg/"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/HomeTeamNS_Brand-Signature-e1487058175805.png" class="img-responsive color_flip" alt="Responsive image"></a>
        <a href="http://irblaw.com.sg/"><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/IMG-20160823-WA0007-e1487058006326.png" class="img-responsive color_flip" alt="Responsive image"></a>
      </div>
    </div>
  </div>
</div>
<div class="center_text dark big_padding pix_builder_bg" id="section_testimonials_2_dark">
  <div class="container ">
    <div class="eight columns alpha">
      <div class="content_div">
        <div class="margin_bottom">
          <img class="small_circle border_light" src="https://s3.amazonaws.com/international-hfh/places/logos/000/000/005/medium/Logo.png?1482743186">
        </div>
        <p class="editContent light_gray normal_text">Being on Halalfoodhunt.com  allows my business to reach out to more halal foodies through their strong social media reach. As a merchant on their site, they give great amount of support for times when I need that marketing boost to promote a new dish or promotion.</p>                 
        <h6 class="editContent bold_text dark_gray"><footer class="author">
            <strong>Aina Zulkarnain,</strong><br>
            Owner of <a href="http://sg.halalfoodhunt.com/places/kaw-kaw-sg-by-makan-state">Kaw Kaw SG By Makan State</a>
          </footer></h6>
      </div>
    </div>
    <div class="eight columns omega">
      <div class="content_div">
        <div class="margin_bottom">
          <img class="small_circle border_light" src="https://s3.amazonaws.com/international-hfh/suppliers/logos/000/000/005/medium/logo.png?1483179470">
        </div>
        <p class="editContent light_gray normal_text">Halalfoodhunt.com increased the awareness of our brand Bahbosh, which we appreciate as a new merchant. They provide us with ample opportunities to collaborate and platforms to not only increase our reach but also reach out to specific audience through various channels.</p>                 
        <h6 class="editContent bold_text dark_gray"><footer class="author">
            <strong>Syed Ahmad</strong>,<br>
            Founder of <a href="http://sg.halalfoodhunt.com/suppliers/bahbosh-foods-services-3d49d816-85e1-4956-8c6f-6aa89e372fd9">Bahbosh Foods & Services</a>
          </footer></h6>
      </div>
    </div>
  </div>
</div>
	<div class="pixfort_app_3" id="section_app_8">
		<div class="download_style pix_builder_bg" style="outline-offset: -3px;">
			<div class="container">
				<div class="sixteen columns">
					<h1 class="h_download editContent">Need Assistance?</h1>
					<p class="txt_download editContent">+65 9626 5757<br>
hello@halalfoodhunt.com</p>
				</div>
			</div>
		</div>
	</div>

