<p id="notice"><%= notice %></p>

<h1>Listing Caterers</h1>

<table>
  <thead>
    <tr>
      <th>Brand name</th>
      <th>General coontact number</th>
      <th>General email</th>
      <th>Website online ordering page</th>
      <th>Facebook page</th>
      <th>Instagram handle</th>
      <th>Question 1</th>
      <th>Expiry date</th>
      <th>Halal expiry</th>
      <th>Verified</th>
      <th>Draft</th>
      <th>Merchant</th>
      <th>Listing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caterers.each do |caterer| %>
      <tr>
        <td><%= caterer.brand_name %></td>
        <td><%= caterer.general_coontact_number %></td>
        <td><%= caterer.general_email %></td>
        <td><%= caterer.website_online_ordering_page %></td>
        <td><%= caterer.facebook_page %></td>
        <td><%= caterer.instagram_handle %></td>
        <td><%= caterer.question_1 %></td>
        <td><%= caterer.expiry_date %></td>
        <td><%= caterer.halal_expiry %></td>
        <td><%= caterer.verified %></td>
        <td><%= caterer.draft %></td>
        <td><%= caterer.merchant %></td>
        <td><%= caterer.listing %></td>
        <td><%= link_to 'Show', caterer %></td>
        <td><%= link_to 'Edit', edit_caterer_path(caterer) %></td>
        <td><%= link_to 'Destroy', caterer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caterer', new_caterer_path %>
