<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @caterer.brand_name %>
</p>

<p>
  <strong>General coontact number:</strong>
  <%= @caterer.general_coontact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @caterer.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @caterer.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @caterer.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @caterer.instagram_handle %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @caterer.question_1 %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @caterer.expiry_date %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @caterer.halal_expiry %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @caterer.verified %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @caterer.draft %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @caterer.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @caterer.listing %>
</p>

<%= link_to 'Edit', edit_caterer_path(@caterer) %> |
<%= link_to 'Back', caterers_path %>
