<p id="notice"><%= notice %></p>

<h1>Listing Baker Service Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baker_service_types.each do |baker_service_type| %>
      <tr>
        <td><%= baker_service_type.name %></td>
        <td><%= link_to 'Show', baker_service_type %></td>
        <td><%= link_to 'Edit', edit_baker_service_type_path(baker_service_type) %></td>
        <td><%= link_to 'Destroy', baker_service_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baker service type', new_baker_service_type_path %>
