<% @raw_foods.each do |raw_food| %>
 <div class="four columns alpha">
   <div class="card-container manual-flip">
    <div class="card">
      <div class="front">
        <div class="cover">
          <% unless raw_food.product_qualifying_type.blank? %>
          <% if raw_food.verified == true %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag raw_food.product_qualifying_type.image.url(:large), :class => "img-responsive", :style => "width:40px; height:40px;" %></span>
          <% else %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %><% end %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:28%;">
            <% raw_food.rewards.each do |reward| %>
            <% unless reward.discount.name.blank? %>
            <%= image_tag reward.discount.icon.url(:large), :class => "img-responsive", :style => "width:40px; height:40px;" %>
            <% end %>
            <% end %>
          </span>
          <%= image_tag raw_food.featured_image.url(:square) %>
        </div>
        <div class="user">
          <%= image_tag raw_food.logo.url(:medium), :class => "img-circle" %>
        </div>
        <div class="content">
          <center>
            <label><strong><%= link_to raw_food.brand_name, raw_food_path(raw_food) %></strong></label>
            <%= link_to "View", raw_food_path(raw_food), :class => "btn btn-default" %>
          </center>
        </div>
      </div> <!-- end front panel -->
    </div>
  </div>
</div>
<% end %>