<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @raw_food.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @raw_food.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @raw_food.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @raw_food.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @raw_food.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @raw_food.instagram_handle %>
</p>

<p>
  <strong>Self collection address:</strong>
  <%= @raw_food.self_collection_address %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @raw_food.question_1 %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @raw_food.expiry_date %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @raw_food.halal_expiry %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @raw_food.draft %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @raw_food.verified %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @raw_food.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @raw_food.listing %>
</p>

<%= link_to 'Edit', edit_raw_food_path(@raw_food) %> |
<%= link_to 'Back', raw_foods_path %>
