<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @online_retail.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @online_retail.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @online_retail.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @online_retail.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @online_retail.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @online_retail.instagram_handle %>
</p>

<p>
  <strong>Self collection address:</strong>
  <%= @online_retail.self_collection_address %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @online_retail.question_1 %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @online_retail.halal_expiry %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @online_retail.expiry_date %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @online_retail.verified %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @online_retail.draft %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @online_retail.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @online_retail.listing %>
</p>

<%= link_to 'Edit', edit_online_retail_path(@online_retail) %> |
<%= link_to 'Back', online_retails_path %>
