<% @bakers.each do |baker| %>
 <div class="four columns alpha">
   <div class="card-container manual-flip">
    <div class="card">
      <div class="front">
        <div class="cover">
          <% unless baker.qualifying_type.blank? %>
          <% if baker.verified == true %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(baker.qualifying_type.image.url(:large), :class => "img-responsive"), :style => "width:40px; height:40px;" %></span>
          <% else %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %><% end %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:28%;">
            <% baker.rewards.each do |reward| %>
            <% unless reward.discount.name.blank? %>
            <%= image_tag reward.discount.icon.url(:large), :class => "img-responsive", :style => "width:40px; height:40px;" %>
            <% end %>
            <% end %>
          </span>
          <%= image_tag baker.featured_image.url(:square) %>
        </div>
        <div class="user">
          <%= image_tag baker.logo.url(:medium), :class => "img-circle" %>
        </div>
        <div class="content">
            <label><strong><%= link_to baker.brand_name, baker_path(baker) %></strong></label>
        </div>
      </div> <!-- end front panel -->
    </div>
  </div>
</div>
<% end %>