<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @baker.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @baker.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @baker.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @baker.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @baker.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @baker.instagram_handle %>
</p>

<p>
  <strong>Self collection address:</strong>
  <%= @baker.self_collection_address %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @baker.question_1 %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @baker.expiry_date %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @baker.halal_expiry %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @baker.verified %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @baker.draft %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @baker.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @baker.listing %>
</p>

<%= link_to 'Edit', edit_baker_path(@baker) %> |
<%= link_to 'Back', bakers_path %>
