<% @homies.each do |homy| %>
 <div class="four columns alpha">
   <div class="card-container manual-flip">
    <div class="card">
      <div class="front">
        <div class="cover">
          <% if homy.verified == true %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(homy.qualifying_type.image.url(:square), :class => "img-responsive") %></span>
          <% else %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:28%;">
            <% homy.rewards.each do |reward| %>
            <% unless reward.discount.name.blank? %>
            <%= image_tag reward.discount.icon.url(:square), :class => "img-responsive" %>
            <% end %>
            <% end %>
          </span>
          <%= image_tag homy.featured_image.url(:square) %>
        </div>
        <div class="user">
          <%= image_tag homy.logo.url(:medium), :class => "img-circle" %>
        </div>
        <div class="content">
            <label><strong><%= link_to homy.brand_name, homy_path(homy) %></strong></label>
            <p class="profession" style="text-transform: capitalize !important;"><i class="fa fa-map-marker"></i> <%= homy.self_collection_address %></p>
        </div>
      </div> <!-- end front panel -->
    </div>
  </div>
</div>
<% end %>