<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @homy.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @homy.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @homy.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @homy.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @homy.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @homy.instagram_handle %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @homy.question_1 %>
</p>

<p>
  <strong>Question 2:</strong>
  <%= @homy.question_2 %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @homy.draft %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @homy.verified %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @homy.halal_expiry %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @homy.expiry_date %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @homy.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @homy.listing %>
</p>

<%= link_to 'Edit', edit_homy_path(@homy) %> |
<%= link_to 'Back', homies_path %>
