<p id="notice"><%= notice %></p>

<h1>Listing Caterer Service Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caterer_service_types.each do |caterer_service_type| %>
      <tr>
        <td><%= caterer_service_type.name %></td>
        <td><%= link_to 'Show', caterer_service_type %></td>
        <td><%= link_to 'Edit', edit_caterer_service_type_path(caterer_service_type) %></td>
        <td><%= link_to 'Destroy', caterer_service_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caterer service type', new_caterer_service_type_path %>
