<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @supplier.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @supplier.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @supplier.general_email %>
</p>

<p>
  <strong>Website online ordering page:</strong>
  <%= @supplier.website_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @supplier.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @supplier.instagram_handle %>
</p>

<p>
  <strong>Self collection address:</strong>
  <%= @supplier.self_collection_address %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @supplier.question_1 %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @supplier.expiry_date %>
</p>

<p>
  <strong>Halal expiry:</strong>
  <%= @supplier.halal_expiry %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @supplier.verified %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @supplier.draft %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @supplier.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @supplier.listing %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
