<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualifying_type.name %>
</p>

<p>
  <strong>Halal summary:</strong>
  <%= @qualifying_type.halal_summary %>
</p>

<%= link_to 'Edit', edit_qualifying_type_path(@qualifying_type) %> |
<%= link_to 'Back', qualifying_types_path %>
