<p id="notice"><%= notice %></p>

<h1>Listing Food Deliveries</h1>

<table>
  <thead>
    <tr>
      <th>Brand name</th>
      <th>Delivery hotline</th>
      <th>General email</th>
      <th>Link to online ordering page</th>
      <th>Facebook page</th>
      <th>Instagram handle</th>
      <th>Question 1</th>
      <th>Draft</th>
      <th>Verified</th>
      <th>Merchant</th>
      <th>Listing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_deliveries.each do |food_delivery| %>
      <tr>
        <td><%= food_delivery.brand_name %></td>
        <td><%= food_delivery.delivery_hotline %></td>
        <td><%= food_delivery.general_email %></td>
        <td><%= food_delivery.link_to_online_ordering_page %></td>
        <td><%= food_delivery.facebook_page %></td>
        <td><%= food_delivery.instagram_handle %></td>
        <td><%= food_delivery.question_1 %></td>
        <td><%= food_delivery.draft %></td>
        <td><%= food_delivery.verified %></td>
        <td><%= food_delivery.merchant %></td>
        <td><%= food_delivery.listing %></td>
        <td><%= link_to 'Show', food_delivery %></td>
        <td><%= link_to 'Edit', edit_food_delivery_path(food_delivery) %></td>
        <td><%= link_to 'Destroy', food_delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food delivery', new_food_delivery_path %>
