<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @food_delivery.brand_name %>
</p>

<p>
  <strong>Delivery hotline:</strong>
  <%= @food_delivery.delivery_hotline %>
</p>

<p>
  <strong>General email:</strong>
  <%= @food_delivery.general_email %>
</p>

<p>
  <strong>Link to online ordering page:</strong>
  <%= @food_delivery.link_to_online_ordering_page %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @food_delivery.facebook_page %>
</p>

<p>
  <strong>Instagram handle:</strong>
  <%= @food_delivery.instagram_handle %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @food_delivery.question_1 %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @food_delivery.draft %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @food_delivery.verified %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @food_delivery.merchant %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @food_delivery.listing %>
</p>

<%= link_to 'Edit', edit_food_delivery_path(@food_delivery) %> |
<%= link_to 'Back', food_deliveries_path %>
