 <div class="four columns alpha hidden-xs">
  <%= search_form_for @search_places, :html => {:class => 'form_no_padding' }, url: places_path do |f| %>
  <h4 style="margin-top:0;"><i class="fa fa-filter" aria-hidden="true"></i> Filter Places</h4> 
  <button class="btn btn-block btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom:10px;">
    Filter Menu Items
  </button>
  <div class="collapse in" id="collapseExample">
    <div class="card card-body">
      <i class="fa fa-list" aria-hidden="true"></i> <b><%= f.label "Menu Items" %></b> <small>(<%= link_to 'Clear Selection', places_path %>)</small><br>
      <%= f.collection_check_boxes :menu_items_id_in_any, MenuItem.first(10), :id, :name do |b| %>
      <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left:0;">
        <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
      </div>
      <% end %><hr>
      <div id="moreitems" class="collapse">
        <%= f.collection_check_boxes :menu_items_id_in_any, MenuItem.offset(10), :id, :name do |b| %>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0;">
          <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
        </div>
        <% end %>
      </div>
      <p><a href="#moreitems" data-toggle="collapse"><i class="fa fa-plus" aria-hidden="true"></i> See More</a></p>
    </div>
  </div>
  <button class="btn btn-block btn-light" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" style="margin-bottom:10px;">
    Filter Features
  </button>
  <div class="collapse in" id="collapseExample2">
    <div class="card card-body">
      <i class="fa fa-list" aria-hidden="true"></i> <b><%= f.label "Feature" %></b> <small>(<%= link_to 'Clear Selection', places_path %>)</small><br>
      <%= f.collection_check_boxes :features_id_in_any, Feature.first(5), :id, :name do |b| %>
      <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0; padding-right:0;">
        <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
      </div>
      <% end %><hr>
      <div id="morefeatures" class="collapse">
        <%= f.collection_check_boxes :features_id_in_any, Feature.offset(5), :id, :name do |b| %>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0; padding-right:0;">
          <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
        </div>
        <% end %>
      </div>
      <p><a href="#morefeatures" data-toggle="collapse"><i class="fa fa-plus" aria-hidden="true"></i> See More</a></p>
    </div>
  </div>
  <button class="btn btn-block btn-light" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" style="margin-bottom:10px;">
    Filter Dining Types
  </button>
  <div class="collapse in" id="collapseExample3">
    <div class="card card-body">
      <i class="fa fa-list" aria-hidden="true"></i> <%= f.label "Dining Type" %> <small>(<%= link_to 'Clear Selection', places_path %>)</small><br>
      <%= f.collection_check_boxes :dining_types_id_in_any, DiningType.first(5), :id, :name do |b| %>
      <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0;">
        <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
      </div>
      <% end %><hr>
      <div id="morediningtypes" class="collapse">
        <%= f.collection_check_boxes :dining_types_id_in_any, DiningType.offset(5), :id, :name do |b| %>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0;">
          <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
        </div>
        <% end %>
      </div>
      <p><a href="#morediningtypes" data-toggle="collapse"><i class="fa fa-plus" aria-hidden="true"></i> See More</a></p>
    </div>
  </div>
  <button class="btn btn-block btn-light" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" style="margin-bottom:10px;">
    Filter Locations
  </button>
  <div class="collapse in" id="collapseExample4">
    <div class="card card-body">
      <i class="fa fa-list" aria-hidden="true"></i> <%= f.label "Location" %> <small>(<%= link_to 'Clear Selection', places_path %>)</small><br>
      <%= f.collection_check_boxes :location_id_in_any, Location.all, :id, :name do |b| %>
      <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left:0;">
        <%= b.check_box %> <%= b.label :style => 'font-size:12px; text-transform: none;' %>
      </div>
      <% end %>
    </div>
  </div>
   <%= f.submit "Filter", :class => "btn btn-block btn-default", :style => "padding:10px;" %>
  <% end %>
</div>