<div class="nested-fields">
		<div class="two columns" style="margin-left:0; margin-right:0;">
			<%= image_tag(menu.image.url(:thumb), :class => "img_responsive", :style => "width:80px; height:45px;") %>
		</div>
		<div class="four columns" style="margin-left:0;">
			<%= f.file_field :image %>
		</div>
		<div class="five columns" style="margin-left:0;">
			<%= f.text_field :name, label: "Dish Name" %>
		</div>
		<div class="eleven columns" style="margin-left:0;">
			<%= f.text_area :description, label: "Description" %>
		</div>
	<%= link_to_remove_association "Remove Menu Item",  f %>
	<hr>
</div>