<% content_for(:body_attributes) do %> data-no-turbolink="true" <% end %>
<div class="light_gray_bg small_padding pix_builder_bg" id="section_title_2" data-selector=".pix_builder_bg" style="outline-offset: -3px;">
	<div class="container ">       
		<div class="twelve columns offset-by-two">
			<div class="center_text">
				<h2 class="big_title dark_gray editContent" data-selector="h2" style="">Merchant Dashboard</h2>
			</div>
		</div>
	</div>
</div>
<div class="light_gray_bg pix_builder_bg" id="section_header_4" data-selector=".pix_builder_bg" style="outline-offset: -3px; padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68); background-image: none; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto; background-repeat: repeat;">
	<div class=" header_nav_1">
		<div class="container">
			<div class="sixteen columns center_text small_padding">
				<ul class="nav nav-pills nav-justified">
					<li class="<%= 'active' if current_page?(main_app.edit_merchant_registration_path) %>"><%= link_to 'My Profile', main_app.edit_merchant_registration_path %></li>
					<li class="<%= 'active' if current_page?(main_app.pages_merchant_dashboard_path) %>"> <%= link_to 'My Listings', main_app.listings_path %>
					<li class="<%= 'active' if current_page?(main_app.pages_merchant_dashboard_path) %>"> <%= link_to 'My Subscription', main_app.pages_merchant_dashboard_path %>
					<li role="presentation"><a href="#">Resource</a></li>
						</ul>
					</div>
				</div><!-- container -->
			</div>
		</div>
		<div class="light_gray_bg big_padding pix_builder_bg" id="section_title_1" data-selector=".pix_builder_bg">
			<div class="container ">       
				<div class="twelve columns">
					<h2 class="big_title dark_gray editContent" data-selector="h2">Edit Current Place Listing</h2>
					<p class="normal_text light_gray editContent" data-selector="p">Listing a halal food place indicates that your business has a physical place where the customers can visit.
						It’s important to fill in all the details to get more views on your listing.</p>
					</div>
					<div class="four columns">
						<img src="/images/media/place.png" style="height:150px; width:150px;" alt="">
					</div>
				</div>
			</div>
			<%= render 'form' %>


